.font-change {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;
}
body {
  margin: 80px;
  background-color: rgba(233, 34, 90, 0.5);
}
ul {
  list-style-type: none;
  text-align: center;
}

li {
  padding: 4px;
  display: inline-block;
}
