html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #9aaebe;
}
img {
  border-radius: 999px;
  display: block;
  margin: 0 auto;
  width: 90vw;
  box-shadow: 0 0 40px black;
  border: solid 2px #e5ddc5;
  max-width: fit-content;
}
h1 {
  text-align: center;
}
ul,
ol {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  border-radius: 16px;
  margin: 0 auto;
  border: #e5ddc5 4px solid;
  width: 80vw;
}
li {
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 8px;
  width: 60vw;
  border: #e5ddc5 3px solid;
  margin: 16px auto;
}
h2 {
  text-align: center;
}
p {
  font-size: 1.2rem;
  text-align: center;
  width: 70vw;
  margin: 24px auto;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #f1eedc;
}
a:hover {
  color: black;
}
