h1 {
  text-align: center;
  font-size: 48px;
}

.font-change {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;
}
body {
  margin: 150px;
  background-color: rgba(233, 34, 90, 0.5);
}

ul {
  display: inline;
  padding: 24px;
}

li {
  text-align: center;
  list-style-type: none;
  border: 2px black solid;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 20px;
  font-size: large;
}

.foodimg {
  height: 300px;
  width: 300px;
  border: double 4px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}
